.search{
  .header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 1.333rem;
    background: #f2f2f2;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .4rem;
    font-size: .4rem;
    color: #999;
    i{
     font-size: .6rem; 
    }
  }
}